# "prefix history" search
"\e[A": history-search-backward
"\e[B": history-search-forward
"\C-d": kill-whole-line
#"\e[C": forward-char
#"\e[D": backward-char

# Treat hyphens (‘-’) and underscores (‘_’) as equivalent when performing case-insensitive filename matching and completion
set completion-map-case on

# Display possible completions using different colors to indicate their file type.
set colored-stats on

# Set the maximum number of characters to be the common prefix to display for completions
set completion-prefix-display-length 3

# Immediately add a trailing slash when autocompleting symlinks to directories
set mark-symlinked-directories on

# Do not expand "~" to the home directory when completing. (The actual value
# passed on to the command still is expanded, though. Which is good.) "Off" is
# the default value, but some servers override this, so I override the override.
set expand-tilde off

# Show extra file information when completing, like `ls -F` does
set visible-stats on

# Be more intelligent when autocompleting by also looking at the text after
# the cursor. For example, when the current line is "cd ~/src/mozil", and
# the cursor is on the "z", pressing Tab will not autocomplete it to "cd
# ~/src/mozillail", but to "cd ~/src/mozilla". (This is supported by the
# Readline used by Bash 4.)
set skip-completed-text on

# Flip through autocompletion matches with Shift-Tab.
"\e[Z": menu-complete

# Show all autocomplete results at once
set page-completions off

# If there are more than 200 possible completions for a word, ask to show them all
set completion-query-items 200

# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on

# Make Tab autocompletion case-insensitive (cd ~/dow<Tab> => cd ~/Downloads/).
set completion-ignore-case on 

# Do not autocomplete hidden files unless the pattern explicitly begins with a dot
set match-hidden-files off

# Line editing
# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set input-meta on
set output-meta on
set convert-meta off

# Neither sound a beep nor flash the screen when trying to ring the bell.
set bell-style none

# Hop up directories
"\C-n":"cd ..\n"
